body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 50px;
    text-align: center;
}

#home {
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    color: #010101c9 ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#home button:hover {
    background-color: #555;
}

#about {
    background-color: #f4f4f4;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px 0;
}

#projects {
    background-color: #f4f4f4;
}

.projects-container {
    display: flex;
    justify-content: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.project {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.project:hover {
    transform: scale(1.05);
}

#skills {
    background-color: #f4f4f4;
    text-align: left;
}

.skill-bar {
    margin: 20px 0;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
}

.progress {
    background-color: #1e9a26a7;
    height: 20px;
    border-radius: 25px;
}

#resume {
    background-color: #f4f4f4;
}

#contact {
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
